<div class="container">
        <h2>LIST USER</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Register User
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Register New User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-user">
                            <div class="form-group">
                                <label>FullName</label>
                                <input type="text" class="form-control" name="fullname" placeholder="Enter Fullname" />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter Email" />
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Trần Ngọc Tiến</td>
                <td>012345678</td>
                <td>tientn@gmail.com</td>
                <td><a class="btn btn-primary btn-sm">Edit</a>
                    <a class="btn btn-danger btn-sm">Del</a>
                </td>
            </tr>
        </table>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="main.js"></script>

<a href="./manager2">Quản lý quần áo</a>